body {
  border: 1px solid rgb(0, 174, 255);
  border-radius: 54px;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.main {
  background-image: url(https://cdn-icons-png.flaticon.com/512/3845/3845731.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position-y: bottom;
  text-align: center;
  /*margin-top: 100px;*/
  height: 380px;
}

.h2 {
  padding-top: 20px;
  padding-bottom: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}

.max,
.min {
  font-size: 17px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
